# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Learn about various types and categories of tools.
* Become familiar with  Open-Source and Cloud-Based tools.
* Explore various languages in data science.
* Explore packages, APIs, Datasets and Models.

List of tools in Data Science Task Categories:
* Data Management
* Data Integration and Transformation.
* Data visualization.
* Modeling.

List of popular Data Science Languages:
* Python
* R
* SQL
* Julia
* JavaScript

List of Libraries in python:
* matplotlib
* numpy
* pandas
* scikit-learn

List of Libraries in R:
* ggplot2

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib

| Data Science Tools |
| :----------------- |
| Apache Spark |
| Jupyter Notebooks |
| IBM DAX |
| IBM Watson Studios |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hour = min/60
print(str(hour)+' hours')

3.3333333333333335 hours

## Author
vipul kumar